.index_html {
  margin-left:20px;
}

.index_html th {
  padding-bottom:10px;
  margin-left:20px;
}

.index_html td {
  padding:0 7px 7px 0;
}

.index_html_newbook {
  margin-left:20px;
}

.index_html_newbook p {
  margin-bottom:0;
}

